// // Place all the styles related to the users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/


  .form-wrapper {
    border-radius: 5px;
    // background-color: #f2f2f2;
    padding: 20px;
    width: 480px; // width of the div
    position: absolute;
    left: 50%; // position
    top: 50%; // position centered
    transform: translate(-50%, -50%); // centers position
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding: 40px 35px;

    h1 {
      text-align: center;
      color: white;
    }
    .header-title, .notice {
      text-align: center;
    }

    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      box-sizing: border-box;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }


    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
    input[type=password]{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
    }
    a {
        color: white;
        text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
